header {
    .flexin(column, center, center);
    
    nav {
        .flexin(row, center, center);
        font-size: 3rem;
        background-color: @navigationbg ;
        width: 100%;
        a{
            color: @navfontcolor;
            margin: 1.5%;
            padding: 1% 0;
            
        }

    }
    #title {
        font-size: 8rem;   
        color: @secnavcolor;
        margin: 1%;
        
    }
}

nav a {
    color: @secnavcolor;
}